#navbar li{ 
    display: inline; 
}
#navbar a{
    text-decoration: none;
    color:white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
li{
    margin-left:15px;
}
#navbar{
    background-color:rgb(51, 56, 51);
    height: 50px;
    display: flex;
}
#footer{
    background-color:rgb(51, 56, 51);
    height: 100px;
    display: flex;
    justify-content: center;
}
#footer h1{
    color:white;
}
.title{
    font-size: 68px;
}
#welcome-section{
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
}
#projects{
    border:1px solid black;
}
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    background-color:  rgba(255, 255, 255, 0.8);;
    padding: 10px;
  }
  
.grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    display: block;
    height: 200px;
    width: 500px;
  }
.grid-container a{
    color:rgb(32, 32, 87)  !important;
    text-decoration: none;
} 
